---
layout: splash
excerpt: "Yet another freelancer-for-hire platform."
header:
  overlay_image: /assets/logo/TGBotDevList_Header.png
intro:
  - excerpt: "TG Bot Dev List is a non-commercial platform trying to bring freelancer developers specialised on [Telegram](https://telegram.org) automation and clients together.\n\nThis page exclusively aims to establish contact between clients and developers - it doesn't take part in setting up contracts or similar. For more info, please read the [about](/about/) page and the [faq](/faq/)."
feature_row:
  - image_path: /assets/feature_row/advice.png
    alt: "General Advice"
    title: "Things to consider"
    excerpt: "Some things should be considered when making or accepting a commission."
    url: "/advice/"
    btn_label: "Find out, which!"
    btn_class: "btn--primary"
  - image_path: /assets/feature_row/search.png
    alt: "Find a Developer"
    title: "Find a Developer"
    excerpt: "Are you ready to find a developer for you project?"
    url: "/devs-by-bot-type/"
    btn_label: "Let's go!"
    btn_class: "btn--primary"
  - image_path: /assets/feature_row/register.png
    alt: "Sign up as Developer"
    title: "Sign up"
    excerpt: "You're a developer yourself and would like to be listed on this page?"
    url: "/sign-up/"
    btn_label: "Yes!"
    btn_class: "btn--primary"
---

{% include feature_row id="intro" type="center" %}

{% include feature_row %}